.heroSection {
  // margin-top: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // gap: 12px;
}

@media (max-width: 480px) {
  .heroSection {
    flex-direction: column;
  }
}

.name {
  // margin-top: 2rem;
  margin-left: 20px;
}
.profileImg {
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.borderDark {
  border: 2px solid whitesmoke;
}
.borderLight {
  border: 2px solid rgb(59, 59, 59);
}

.profileImg:active {
  transform: scale(0.99);
}

.description {
  max-width: 400px;
  text-align: center;
}
