.bannerImg {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  height: 300px;
  margin-bottom: 1rem;
}

.tags {
  // font-size: 1.4rem;
  text-transform: capitalize;
  // color: lightgray;
}

.description {
  margin-top: 0.5rem;
  // color: lightgray;
  // text-align: center;
}

.blogDate {
  margin-bottom: 0.5rem;
  // color: lightgray;
}

.dateTagsContainer {
  display: flex;
  justify-content: space-between;
}
