.homeThemeContainer {
  display: flex;
  justify-content: space-between;
}

.blogContainer {
  max-width: 800px;
  margin: 0 auto;
}

.link {
  font-size: 1.7rem;
  display: inline-block;
  margin-bottom: 1rem;
  & svg {
    margin-right: 0.5rem;
    width: 1em;
    margin-bottom: -3px;
  }
}

.scrollToTop {
  cursor: pointer;
  margin-top: 5rem;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  // background-color: transparent;
  & svg {
    margin-left: 0.5rem;
    width: 1em;
    margin-bottom: -3px;
  }
}

.btnDark {
  border: 1px solid white;
  color: white;
}

.btnDark:hover {
  background-color: lightblue;
  transition: all 1s;
}

.btnLight {
  border: 1px solid black;
  color: black;
}

.btnLight:hover {
  background-color: lightgray;
  transition: background-color 0.2s;
}
